  
<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Araba Ara</label>
  <input type="text" [(ngModel)] = "filterText" class="form-control" 
  id="filterText" placeholder="arama ifadesi giriniz">
</div>

<div *ngIf="filterText" class="alert alert-warning">
  {{filterText}} aradınız.
</div>

<table *ngIf="dataLoaded != false" class="table">
<thead>
  <tr>
    <th>Marka</th>
    <th>Renk</th>
    <th>Model Yılı</th>
    <th>Günlük Fiyat</th>
    <th>Model</th>
  </tr>
</thead>
<tr (click) = setCurrentCar(car)
routerLink = "/cars/cardetail/{{car.carId}}"
 *ngFor="let car of cars | filterCarPipe:filterText">
  <td>{{ car.brandName }}</td>
  <td>{{ car.colorName }}</td>
  <td>{{ car.modelYear }}</td>
  <td>{{ car.dailyPrice }}</td>
  <td>{{ car.carName | uppercase}}</td>
  
</tr>

</table>